<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sandres tv</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/new-project">Crear proyecto</a>
      </li>
    </ul>
  </body>
</html>
